.App {
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 200px;
  /* background-color: gray; */
  margin: 0px;
  padding: 0px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: darkgray;
}
