.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: #605e5f;
  color: #fff;
  width: 100vw;
}

/* header css */

img {
  width: 100px;
  height: auto;
}

header {
  display: flex;
  flex-direction: column;
}

header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.boxxy {
  background-color: #252525;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

.content {
  min-width: 1000px;
}

/* table */

table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Hide overflow */
  background-color: #303030; /* Background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

table th {
  font-weight: bold;
  padding: 7px;
  background-color: #252525; /* Header background color */
}

table td {
  padding: 7px;
  border-top: 1px solid #e0e0e0; /* Light border color */
}

table tr:last-child td {
  border-bottom: none; /* Remove bottom border for last row */
}

/* nav */

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 400px;
  margin: 0px;
  padding: 0px;
}

nav ul li a {
  text-decoration: none;
  padding-right: 10px;
  color: #fff;
}

nav ul li a:hover {
  color: #a9a9a9;
  
}

/* form css */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.input-wrapper {
  display:flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
}

.input-wrapper label {
  font-size: 16px;
  margin-right: 70%;
}

.input-wrapper input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.input-wrapper input:focus {
  outline: none;
  border-color: #ccc;
}

button {
  padding: 5px;
  min-width: 100px;
  width: auto;
  border-radius: 5px;
  border: 1px solid #aaa;
  cursor: pointer;
  background-color: #fff;
  font-size: 16px;
  transition: background-color 0.1s ease, color 0.1s ease;
}

button:hover {
  background-color: #a9a9a9;
  color: #fff;
}