.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: #0d1117;
  color: #fff;
}

/* header css */
header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: #010409;
  border-bottom: 1px solid #30363d;
  height: 10vh;
}

header div {
  width: 10vw;
  height: 5vh;
}

header nav {
  width: 80vw;
}

#headerimg {
  height: 5vh;
  transition: transform 0.3s ease;
  margin-left: 10px;
}

#headerimg:hover {
  transform: scale(1.05) rotate(-3deg);
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

header nav ul li {
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s;
}

nav ul li:hover {
  background-color: #171b20;
}

header nav ul li a {
  padding: inherit;
  text-decoration: none;
  color: #e6edec;
}

/* social media icons */

.icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.icon {
  font-size: 25px; /* Set the font size of the icon */
  color: #fff; /* Set the color of the icon */
  padding: 2px;
}

.icon:hover {
  color: #ccc; /* Change the color of the icon on hover */
}

/* table */

.tableContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

.tableHolder {
  width: 20vw;
  height: 60vh;  
}

.tableLabel {
  display: flex;
  align-items: flex-end;
  height: 2vh;
}

table {
  background-color: #161b22;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #30363d;
  border-radius: 8px; /* Rounded corners */
  font-size: 14px;
  height: 45vh;
}

table thead {
  height: 5vh;
}

table tbody {
  display: block;
  overflow-y: auto;
  height: 40vh;
}

table thead, table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed; /* Important for fixed table layout */
}

table th {
  font-weight: normal;
  background-color: #010409; /* Header background color */
  text-align: left;
}


table tbody tr:hover {
  cursor: pointer;
  background-color: #496f94;
}

table td {
  border-top: 1px solid #30363d; /* Light border color */
  line-height: 2;
}

/* if screen goes small */
@media (max-width: 900px) {
  nav {
    font-size: 14px;
  }
  .tableContent {
    flex-direction: column;
    justify-content: flex-start;
  }
  .tableHolder {
    width: 100vw;
    height: 20vh;
  }
  table {
    height: 18vh;
  }
  table thead {
    height: 4vh;
  }
  table tbody {
    height: 14vh;
    
  }
}

/* scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #496f94;
}

::-webkit-scrollbar-thumb:hover {
  background: #5882ad;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50vw;
  height: 80vh;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 50px;
  padding: 10px;
}

.input-wrapper input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
  width: 170px;
}

.input-wrapper input:focus {
  outline: none;
  border-color: #ccc;
}

.input-wrapper select {
  padding: 5px;
  border-radius: 5px;
  width: 180px;
}

button {
  background-color: #496f94;
  border: 1px solid #496f94;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  min-width: 100px;
  width: auto;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  transition: background-color 0.1s ease, color 0.1s ease;
}

button:hover {
  background-color: #5882ad;
  border: 1px solid #5882ad;
}

/* other */

.boxxy {
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}

.notification {
  position: fixed;
  top: 50%; /* Position the element 50% from the top */
  left: 50%; /* Position the element 50% from the left */
  transform: translate(-50%, -50%);
}

.homeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeContent img {
  height: 200px;
}

